<div class="wrap">
  <div class="timer">
    {{ hours }}:{{ minutes }}: {{ second }}
    <br>
    <button class="btn" type="button" (click)="start()">Start</button>
    <button class="btn" type="button" (click)="stop()">Stop</button>
    <button class="btn" type="button" (click)="wait()">Wait</button>
    <button class="btn" type="button" (click)="reset()">Reset</button>
  </div>
</div>